* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;

}

header h1 {
    color: white;
}

.sheep {
    --x: 100%;
    max-height: var(--x);
    width: var(--x);

}